* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    background-color: cadetblue;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
  
  .game-header {
    margin-bottom: 16px;
  }
  
  h1 {
    color: tomato;
    margin-bottom: 8px;
  }
  
  #timer,
  #score {
    font-size: 18px;
    margin: 4px 0;
    color: brown;
  }
  
  .start-button {
    padding: 8px;
    font-size: 16px;
    border: none;
    background-color: chocolate;
    border-radius: 8px;
    color: antiquewhite;
    cursor: pointer;
    transition: all 0.3s;
  }
  .start-button:hover {
    background-color: rgb(189, 94, 26);
  }
  
  .option-button {
    padding: 8px;
    font-size: 16px;
    border: none;
    background-color: rgb(30, 162, 210);
    border-radius: 8px;
    color: antiquewhite;
    cursor: pointer;
    transition: all 0.3s;
  }
  .option-button:hover {
    background-color: rgb(23, 140, 183);
  }
  
  .hidden {
    display: none;
  }